<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="{% static  "rssreader/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}" />
        <script src="{% static "rssreader/js/jquery-1.9.1.min.js" %}"></script>
        <script src="{% static "rssreader/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
        <script type="text/javascript" src="{% static "rssreader/js/layout.js" %}"></script>
        <script>
            $(function() {
                $( "#accordion" ).accordion({
                    collapsible: true,
                    heightStyle: "content"
                });
            });
        </script>
        <!-- Loading Bootstrap -->
        <link href="{% static "rssreader/css/bootstrap.css" %}" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="{% static "rssreader/css/flat-ui.css" %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">

        <link rel="stylesheet" type="text/css" href="{% static "rssreader/css/mainlayout.css" %}">
        <style>
            body{
                text-align: center;
            }

            #infoBlock{
                display: inline-block;
                text-align: center;
            }

            #editRemoveFeedForm {
                display: inline-block;
            }

        </style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        <title>RSS Reader</title>
    </head>
<body>

	
{% if userName%}
<div id="infoBlock">
    <span id="userWelcome">Hello {{ userName }}</span><a href="{{ request.path }}?logout=true">Logout</a><br /><br />

    <span>Would you like to add a RSS feed?</span><br />
<div id="formWrapper">
    <form name="addFeed" method="post">{% csrf_token %}
        <table border="0px">
            <tr>
                <td><input name="feedURL" type="text" placeholder="URL" /></td>
                <td><input name="siteName" type="text" placeholder="Site Name" /></td>
                <td><input class="btn btn-large btn-block" type="submit" name="addFeed" value="Add Feed" /></td>
            </tr>
        </table>
    </form><br />
</div>

    {% if userErrors %}
        <span style="color:red;">
            {% for error in userErrors %}
                {{ error }}<br />
            {% endfor %}
        </span>
    {% endif %}
</div>

    {% if userRSSList %}
        <div id="accordion">
        {% for RSSInfo in userRSSList %}
            <h3>{{ RSSInfo.0 }}</h3>
            
            <div>
                <div id="editRemoveFeedForm">
                <table border="0">
                    <tr>
                        <form name="editFeed" method="post">{% csrf_token %}
                            <td><input name="feedURL" type="text" placeholder="URL" value="{{ RSSInfo.1 }}"/></td>
                            <td><input name="siteName" type="text" placeholder="Site Name" value="{{ RSSInfo.0 }}"/></td>
                            <input type='hidden' name='feedId' value='{{ RSSInfo.2 }}' />
                            <td><input class="btn btn-large btn-block" type="submit" name="editFeed" value="Edit Feed" /></td>
                        </form>
                        
                        <form method="post">{% csrf_token %}
                            <input type='hidden' name='feedId' value='{{ RSSInfo.2 }}' />
                            <td><input class="btn btn-large btn-block" type="submit" name="removeFeed" value="Remove Feed" /></td>
                        </form>
                        </tr>
                    </table>
                </div>
            
            {% for siteTitle, items in RSSInfo.3.items %}
                {% ifequal siteTitle "requestError" %}
                    <span style="color:red;">There was an error with the request.</span><br />
                {% else %}
                    {% for item in items %}
                        <div class="entry">
                            <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
                            {% if item.comments %}
                                <h4><a href="{{ item.comments }}">Comments</a></h4>
                            {% endif %}
                            {% if item.pubDate %}
                                <h5>{{ item.pubDate }}</h5><br />
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endifequal %}
            {% endfor %}
            </div><!-- Accordion content wrapper. -->
        {% endfor %}
        </div><!-- Accordion wrapper. -->
    {% else %}
        <p>You are not subscribed to any feeds.</p>
    {% endif %}

{% else %}
<div id="infoBlock">
    <span>Login or register below:</span><br />

<div id="formWrapper">
    <form name="registerOrLogin" method="post">{% csrf_token %}
        <table border="0px">
            <tr>
                <td><input name="username" type="text" placeholder="Username" /></td>
                <td><input name="password" type="password" placeholder="Password" /></td>
                <td><input class="btn btn-large btn-block" type="submit" name="submit" value="Login" /></td>
                <td><input class="btn btn-large btn-block" type="submit" name="submit" value="Register" /></td>
            </tr>
        </table>
    </form>
</div>

    {% if userErrors %}
        <span style="color:red;">
            {% for error in userErrors %}
                {{ error }}<br />
            {% endfor %}
        </span>
    {% endif %}
</div>
{% endif %}
</body>
</html>
