<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="styles/mainlayout.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="scripts/layout.js"></script>
        <title>RSS Reader</title>
    </head>
<body>

{% if userName%}
    <span>Hello {{ userName }}</span><a href="{{ request.path }}?logout=true">Logout</a><br /><br />

    <span>Would you like to add a RSS feed?</span><br />
    <form name="addFeed" method="post">{% csrf_token %}
        <input name="feedURL" type="text" placeholder="URL" />
        <input name="siteName" type="text" placeholder="Site Name" />
        <input type="submit" name="submit" value="Add Feed" />
    </form><br />

    {% if userErrors %}
        <span style="color:red;">
            {% for error in userErrors %}
                {{ error }}<br />
            {% endfor %}
        </span>
    {% endif %}

    {% if userRSSList %}
        <div id="accordion">
        {% for RSSInfo in userRSSList %}
            <h3>{{ RSSInfo.0 }}</h3>
            
            <form name="editFeed" method="post">{% csrf_token %}
                <input name="feedURL" type="text" placeholder="URL" value="{{ RSSInfo.1 }}"/>
                <input name="siteName" type="text" placeholder="Site Name" value="{{ RSSInfo.0 }}"/>
                <input type='hidden' value='{{ RSSInfo.2 }}' />
                <input type="submit" name="submit" value="Edit Feed" />
            </form>

            {% for siteTitle, items in RSSInfo.3.items %}
                {% ifequal siteTitle "requestError" %}
                    <span style="color:red;">There was an error with the request.</span><br />
                {% else %}
                    {% for item in items %}
                        <div class="entry">
                            <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
                            {% if item.comments %}
                                <h4><a href="{{ item.comments }}">Comments</a></h4>
                            {% endif %}
                            {% if item.pubDate %}
                                <h5>{{ item.pubDate }}</h5><br />
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endifequal %}
            {% endfor %}
        {% endfor %}
        </div>
    {% else %}
        <p>You are not subscribed to any feeds.</p>
    {% endif %}

{% else %}
    <span>Login or register below:</span><br />

    <form name="registerOrLogin" method="post">{% csrf_token %}
        <input name="username" type="text" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <input type="submit" name="submit" value="Login" />
        <input type="submit" name="submit" value="Register" />
    </form>

    {% if userErrors %}
        <span style="color:red;">
            {% for error in userErrors %}
                {{ error }}<br />
            {% endfor %}
        </span>
    {% endif %}
{% endif %}
</body>
</html>
